:root {
    --color-light: #fffff0;
}

@font-face {
    font-family: 'Hatton-Light';
    src: url(../../assets/fonts/PPHatton-Light.woff2);
}

.gallery{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    overflow-x: scroll;
}

.thumb{
    height: 200px;
    width: auto;
    border-radius: 20px;
}

.project-title {
    color: var(--color-light);
    font-family: 'Hatton-Light';
}

.project {
    padding: 20px;
}

.click-state {
    border: var(--color-light), 2px;
}