@font-face {
    font-family: 'Telegraf-Ultralight';
    src: url(../../assets/fonts/PPTelegraf-UltraLight.woff2);
}
@font-face {
    font-family: 'Telegraf-Regular';
    src: url(../../assets/fonts/PPTelegraf-Regular.woff2);
}

:root {
    --color-light: #fffff0;
    --color-dark: #000000;
}

.menu {
    z-index: 100;
    position: relative;
    height: 10vh;
    background-color: transparent;
}

.navbar {
    display: flex;
    width: 95vw;
    padding: 2.5vw;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.name {
    font-family: 'Telegraf-Ultralight';
    font-size: 6vw;
    color: var(--color-light);
}

.menu-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding-left: 2.5vw;
    padding-top: 5vh;
}

.nav-link {
    font-family: 'Telegraf-Regular';
    font-size: 10vw;
    color: var(--color-light);
    text-align: start;
    text-decoration: none;
    margin-bottom: 4vh;
}

.dropdown {
    display: none;
}

.linkouts {
    display: flex;
}

.social-links {
    width: 30px;
    height: 30px;
    margin-right: 5vw;
}

@media (min-width: 720px) {
    .menu-items {
        padding-right: 2.5vw;
        padding-top: 1vh;
        align-items: end;
    }
    .nav-link {
        font-size: 1.5vw;
        margin-bottom: 2.5vh;
    }
    .name {
        font-size: 2vw;
    }
    .linkouts {
        align-items: end;
    }
    .social-links {
        width: 25px;
        height: 25px;
        margin-left: 1vw;
        margin-right: 0;
        cursor: pointer;
    }
}