@font-face {
    font-family: 'Telegraf-Ultralight';
    src: url(../../assets/fonts/PPTelegraf-UltraLight.woff2);
}

:root {
    --color-light: #fffff0;
}

.menu {
    position: absolute;
    z-index: 100;
}

.navbar {
    display: flex;
    width: 95vw;
    padding: 2.5vw;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Telegraf-Ultralight';
    font-size: 6vw;
    color: var(--color-light);
}

.menu-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding-left: 2.5vw;
    padding-top: 5vh;
}

.nav-link {
    font-family: 'Telegraf-Regular';
    font-size: 10vw;
    color: var(--color-light);
    text-align: start;
    text-decoration: none;
    padding-bottom: 2vh;
}

.menu-items-hidden {
    display: none;
}

@media (min-width: 720px) {
    .menu-items {
        padding-right: 2.5vw;
        padding-top: 1vh;
        align-items: end;
    }
    .nav-link {
        font-size: 1.5vw;
        padding-bottom: 1vh;
    }
    .name {
        font-size: 2vw;
    }
}