* {
    margin: none;
    overflow-x: hidden;
    border: none;
}

body {
    background-image: linear-gradient(45deg, rgb(74, 101, 255), rgb(211, 158, 255));
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#nav-screen {
    height: 95vh;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    font-family: "Orbitron Medium";
    font-size: 8vw;
    color: rgb(240, 231, 222);
    opacity: 50%;
}

div.nav-back {
    padding-top: 10px;
}

a:hover {
    opacity: 100%;
    text-shadow: 4px 4px rgb(78, 78, 78);
    transition: text-shadow 1s ease;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px; */
}

div.container {
    height: 100vh;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* div.textbox {
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    
} */

.project-title {
    color: white;
    font-family: "Orbitron Medium";
    font-size: 10vw;
    width: 95vw;
    z-index: 5;
}

.project-brief {
    color: white;
    font-family: "Space Mono", sans-serif;
    font-size: 4vw;
    z-index: 4;
}

/* @font-face {
    font-family: "Gulax Regular";
    src: url(../fonts/Gulax-Regular.woff2); 
} */

@font-face {
    font-family: "Orbitron Medium";
    src: url(../fonts/orbitron-medium-webfont.woff);
}

@font-face {
    font-family: "Young Serif Regular";
    src: url(../fonts/YoungSerif-Regular.woff2);
}

@font-face {
    font-family: "Fengardo Neue Regular";
    src: url(../fonts/fengardoneue_regular-webfont.woff);
}

@media only screen and (min-width: 720px) {

    .container {
        display: flex;
        flex-direction: row;
    }
    
    a {
        font-size: 5vw;
    }

    .project-title {
        order: 1;
        font-size: 6vw;
        width: 42.5vw;
    }
    .project-brief {
        order: 2;
        font-size: 2.5vw;
        width: 42.5vw;
        line-height: 1.5;
    }
}