* {
    margin: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    vertical-align: baseline;
    height: 100vh;
    width: 100vw;
}

a {
    font-family: "Gulax Regular";
    font-size: 4vw;
}

.nav-back {
    padding-top: 10px;
}

@font-face {
    font-family: "Gulax Regular";
    src: url(../fonts/Gulax-Regular.woff2); 
}