:root {
    --light-color: #d7f3f5;
    --dark-color: #020203;
}

body {
    margin: none;
    overflow-x: hidden;
    border: none;
    background-color: var(--light-color) !important;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#about {
    background-color: var(--dark-color) !important;
}

@font-face {
    font-family: "Orbitron Medium";
    src: url(../fonts/orbitron-medium-webfont.woff);
}

@font-face {
    font-family: "Gulax Regular";
    src: url(../fonts/Gulax-Regular.woff2);
}

h1, h2, h3, h4 {
    font-family: "Orbitron Medium";
}

a, .nav-button {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-size: 4vw;
    color: var(--dark-color);
}
a, .nav-button:hover {
    color: rgb(255, 88, 88);
    transition: color 1.5s ease;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

video {
    border-radius: 10px;
}

h2, h3 {
    color: var(--dark-color);
    font-family: "Orbitron Medium";
}

p {
    color: var(--dark-color);
    font-family: "Space Mono", monospace;
}

a, .title-link {
    text-decoration: none;
}

.project-title:hover {
    color: rgb(255, 88, 88);
    transition: color 1.5s ease;
    cursor: pointer;
}

.hero {
    z-index: 1;
}

.hero:hover {
    cursor: pointer;
}

#bio-greeting {
    font-family: "Space Mono", monospace;
    color: var(--light-color);
    font-size: 4vw;
    align-self: center;
}

#skill-flash {
    color: var(--light-color);
    font-family: "Gulax Regular";
    font-size: 20vw;
}

.main-color {
    color: var(--light-color);
}

#who-am-i {
    min-height: 275px;
}

#bio-image {
    border-radius: 100px 15px;
}

.top {
    z-index: 100;
}

.marquee {
    position: absolute;
    align-self: center;
    opacity: 1;
    z-index: 10;
    display: none;
    color: var(--light-color) !important;
    font-size: 10vw;
    animation: marquee 8s ease-out infinite;
    overflow-x: visible;
}

.case-hero {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#lgs-studio {
    margin-top: 40px;
    margin-bottom: 40px;
}

.case-title {
    font-family: 'Orbitron Medium';
    font-size: 6vw;
}

.case-asset {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    margin-top: 40px;
}

.footer-link {
    text-decoration: none;
    color: var(--dark-color);
}

.footer-link:hover {
    color: rgb(255, 88, 88);
    transition: color 1.5s ease;
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translate(50%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@media screen and (min-width: 720px) {

    @keyframes marquee {
        0% {
            transform: translate(50%, 0);
        }
        100% {
            transform: translate(-75%, 0);
        }
    }

    #who-am-i {
        min-height: 300px;
    }

    #skill-flash {
        font-size: 7vw;
    }
    a, .nav-button {
        font-size: 2vw;
    }
    .case-title {
        font-size: 3vw;
    }

  }