* {
    margin: none;
    overflow-x: hidden;
    border: none;
}

body {
    background-image: linear-gradient(45deg, rgb(255, 101, 74), rgb(255, 133, 96));
}

@font-face {
    font-family: "Orbitron Medium";
    src: url(../fonts/orbitron-medium-webfont.woff);
}

img {
    border-radius: 10px;
}

.project {
    /* height: 75vh; */
}

.project-title {
    color: white;
    font-family: "Orbitron Medium";
    font-size: 5vw;
}

.project-brief {
    color: white;
    font-family: "Space Mono", monospace;
    font-size: 3vw;
}

@media only screen and (min-width: 992px) {

    .project-title {
        font-size: 2.5vw;
    }

    .project-brief {
        font-size: 1.5vw;
    }
}