* {
    margin: none;
    overflow-x: hidden;
    border: none;
}

:root {
    --light-color: #d7f3f5;
    --dark-color: #020203;
}

body {
    background-color: var(--light-color) !important;
    /* background-color: rgb(255, 101, 74) !important; */
    /* background-color: rgb(255, 118, 94) !important; */
    /* background-image: linear-gradient(45deg, rgb(255, 101, 74), rgb(255, 133, 96)); */
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#about {
    background-color: var(--dark-color) !important;
}

@font-face {
    font-family: "Orbitron Medium";
    src: url(../fonts/orbitron-medium-webfont.woff);
}

@font-face {
    font-family: "Gulax Regular";
    src: url(../fonts/Gulax-Regular.woff2);
}

nav {
    justify-content: space-between;
}

img {
    border-radius: 10px;
}

h2, h3 {
    color: var(--dark-color);
    font-family: "Orbitron Medium";
}

p {
    color: var(--dark-color);
    font-family: "Space Mono", monospace;
}

.project-title:hover {
    color: rgb(255, 88, 88);
    transition: color 1.5s ease;
    cursor: pointer;
}

.hero {
    z-index: 1;
}

.hero:hover {
    cursor: pointer;
}

#bio-greeting {
    font-family: "Space Mono", monospace;
    color: var(--light-color);
    font-size: 4vw;
    align-self: center;
}

#skill-flash {
    color: var(--light-color);
    font-family: "Gulax Regular";
    font-size: 20vw;
}

.main-color {
    color: var(--light-color);
}

#who-am-i {
    min-height: 275px;
}

#bio-image {
    border-radius: 100px 15px;
}

.top {
    z-index: 100;
}

.cover-photo {
    position: relative;
}

.marquee {
    position: absolute;
    align-self: center;
    opacity: 1;
    z-index: 10;
    display: none;
    color: var(--light-color) !important;
    font-size: 10vw;
    animation: marquee 8s linear infinite;
    overflow-x: visible;
}

@keyframes marquee {
    0% {
        transform: translate(50%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@media screen and (min-width: 720px) {

    #who-am-i {
        min-height: 300px;
    }

    #skill-flash {
        font-size: 7vw;
    }

  }