* {
    margin: none;
    overflow-x: hidden;
    border: none;
}

body {
    background-image: linear-gradient(45deg, rgb(255, 101, 74), rgb(255, 133, 96));
}



#nav-screen {
    height: 95vh;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    font-family: "Orbitron Medium";
    font-size: 8vw;
    color: rgb(240, 231, 222);
    opacity: 50%;
}

div.nav-back {
    padding-top: 10px;
}

a:hover {
    opacity: 100%;
    text-shadow: 4px 4px rgb(78, 78, 78);
    transition: text-shadow 1s ease;
    cursor: pointer;
}

div.container {
    height: 100vh;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-img {
    align-self: center;
    z-index: 1;
    width: 90vw;
    height: auto;
}

img{
    width: 90vw;
    height: auto;
    border-radius: 10px;
}

.project-title {
    color: white;
    font-family: "Orbitron Medium";
    font-size: 10vw;
    width: 95vw;
    z-index: 5;
}

.project-brief {
    color: white;
    font-family: "Space Mono", monospace;
    font-size: 4vw;
    z-index: 4;
}

@font-face {
    font-family: "Orbitron Medium";
    src: url(../fonts/orbitron-medium-webfont.woff);
}

@media only screen and (min-width: 720px) {

    .container {
        display: flex;
        flex-direction: row;
    }
    
    a {
        font-size: 5vw;
    }

    .project-img img {
        height: 50vh;
        width: auto;
        align-items: center;
    }

    .project-img {
        align-self: center;
        display: flex;
        justify-content: center;
    }

    .project-title {
        order: 1;
        font-size: 6vw;
        width: 42.5vw;
    }
    .project-brief {
        order: 2;
        font-size: 2.5vw;
        width: 42.5vw;
        line-height: 1.5;
    }
}