body, html, #root {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    overflow-x: hidden;
=======
    height: -webkit-fill-available;
>>>>>>> develop
}

#app {
    background-color: black;
    width: 100vw;
    height: 100vh;
}