body, html, #root {
    margin: 0;
    padding: 0;
    background-color: black;
}
  
@font-face {
    font-family: 'Neue-Machina-Regular';
    src: url(/src/fonts/PPNeueMachina-Regular.woff2);
}

#bio {
    justify-content: center;
    font-family: "Neue-Machina-Regular";
    font-size: 3vw;
}
